<div class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 ng-if="!event.id" class="modal-title"> Nuevo Requerimiento </h3>
        <h3 ng-if="event.id" class="modal-title"> Editar Requerimiento </h3>
        <div class="modal-body panel-body">
         <div class="col-md-12">
           <div class="form-group">
             <b>Nombre del requerimiento:  </b>
             <input type="text" class="form-control" ng-model="requirement.description" placeholder="Nombre de Requerimiento" required="required"/>
           </div>
           <div class="form-group">
             <b>Especificaciones:  </b>
             <input type="textarea" rows="5" ng-model="requirement.specifications" placeholder="Especificación de requerimientos" required="required" class="form-control"/>
           </div>
         </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button class="btn btn-success pull-left" ng-click="saveRequirement()">Guardar</button>
          </div>
          <button class="btn btn-danger pull-right" type="button" ng-click="dismissModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
