<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>
    Hola <%= @user.name %>!<br><br>
  </h1>
  <p>
    Hay algunos eventos a los que estas registrado pero el proceso aun no esta completo!
  </p>
  <p>
    Sin embargo, aun hay requerimientos con los que no has cumplido: <br>
  </p>
  <% @events.each do |event| %>
   <li><%= event.name %>:
  <% end %>
  <p>
    Para entrar al sistema de concursos academicos ve aqui: <%= Figaro.env.BASE_URL %> <br>
  </p>
  <br><br>
  <p>Recuerda que para quedar registrado con exito a un evento
    los documentos que mandes tienen que ser aprobados por personal de la Universidad de Sonora antes de la
  fecha limite del evento.
  </p>

  Nuestros mejores deseo,<br><br>
    Departamento de Ciencias Exactas, UniSon<br>

</body>
</html>
