<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Saludos <%= @tutor.full_name %>!<br><br>
    </h1>
    <p>
      Este es un correo informativo sobre el Evento: <%= @event.name %>
    </p>
    <p>
      Se incluye un csv con los alumnos registrados a este evento y el estado en el que se encuentran.
    </p>
    Por favor no dude contactarnos con cualquier duda,<br><br>
      Departamento de Ciencias Exactas, UniSon<br>
  </body>
</html>
