<div class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 ng-if="!event.id" class="modal-title"> Nuevo Evento </h3>
        <h3 ng-if="event.id" class="modal-title"> Editar Evento </h3>
        <div class="modal-body panel-body">
         <div class="col-md-12">
           <div class="form-group">
             <b>Nombre de Evento:  </b>
             <input type="text" class="form-control" ng-model="event.name" placeholder="Nombre de Evento" required="required"/>
           </div>
           <div class="form-group">
             <b>Descripción:  </b>
             <input type="textarea" ng-model="event.description" placeholder="Descripción del evento" required="required" class="form-control"/>
           </div>
         </div>
         <div class="form-group col-md-6">
           <b>Fecha del evento:  </b>
           <input type="text" value="{{event.eventDate | date:'yyyy-MM-dd'}}" disabled placeholder="Fecha de Inicio" datepicker-options="dateOptions" class="form-control"/>
         </div>
         <div class="form-group col-md-6">
           <b>Fecha limite para subscribir:  </b>
           <input type="text" value="{{event.deadline | date:'yyyy-MM-dd'}}" datepicker-options="dateOptions" disabled placeholder="Fecha de fin de registro" class="form-control"/>
         </div>
        <div uib-datepicker ng-model="event.eventDate" class="well well-sm form-group col-md-6" datepicker-options="options"></div>
        <div uib-datepicker ng-model="event.deadline" class="well well-sm form-group col-md-6" datepicker-options="options"></div>
        <b>Requerimientos: </b>
         <div class="col-md-12 form-group" ng-repeat="requirement in event.requirements">
           <input type="checkbox" ng-model="requirement.checked" value="$index">  {{requirement.description}}
         </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button class="btn btn-success pull-left" ng-click="saveEvent()">Guardar</button>
          </div>
          <button class="btn btn-danger pull-right" type="button" ng-click="dismissModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
