<div class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            {{sub.user.name}} {{sub.user.lastName}} - {{doc.requirement}}
          </h3>
          <div class="modal-body">
             <p> Path: {{doc.path}} </p>
              <img ng-if="doc.path.url" ng-src="{{root}}/api{{doc.path.url}}">
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary pull-left" type="button" ng-click="approve()">Aceptar</button>
              <button class="btn btn-danger pull-right" type="button" ng-click="dismissModal()">Rechazar</button>
          </div>
        </div>
      </div>
  </div>
</div>
