<div class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"> {{item.name}} </h3>
        <div class="modal-body panel-body">
         <div class="col-md-12">
           {{item.description}}
         </div>
         <div class="col-md-12">
           <b>Requerimientos: </b>
            <div class="col-md-12" ng-repeat="requirement in item.requirements track by $index">
              <div class="col-md-12">
                {{requirement.description}}
              </div>
              <input type="file" ng-model="requirement.doc" base-sixty-four-input>
            </div>
            <div ng-if="item.requirements.length == 0">
              <p>Este evento no require nada de documentación.</p>
            </div>
         </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success pull-left" ng-click="subscribe()">Inscribir</button>
        <button class="btn btn-danger pull-right" type="button" ng-click="dismissModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
