<div class="col-xs-12 item-container active-item" ng-click="vm.toggleCollapse()">
  <!-- candidate's name -->
    <div class="col-xs-6 panel-body">
      <span class="bold-text large-text text-color-blue">{{vm.subscription.user.name}} {{vm.subscription.user.lastName}}</span>
      <br>
      <span class="bold-text">
        {{vm.subscription.event.name}} <br> |  <span class="gray-text">{{vm.subscription.event.description}}</span>
      </span>
    </div>
    <!-- candidate's contact info -->
    <div class="col-xs-6 panel-body">
      <span class="role-text bold-text">Correo electronico: </span>
      <br>
      <span class="gray-text">{{vm.subscription.user.email}}</span>
    </div>

    <!-- candidate's step -->
    <div ng-if="!vm.subscription.approved"  class="col-xs-4">
      <a href="" class="btn btn-lg btn-default btn-step orange-button">Hay documentacion que aprobar.</a>
    </div>

    <div ng-if="vm.subscription.approved" class="col-xs-4">
      <a href="" class="btn btn-lg btn-default btn-step gray-button">La documentacion ya esta en orden.</a>
    </div>
</div>
<div ng-hide="vm.isCollapsed" class="col-xs-12" uib-collapse="vm.isCollapsed">
  <document-item ng-repeat="item in vm.subscription.documents" doc="item"> </document-item>
</div>

<!-- Button trigger modal -->
