<div class="col-xs-12 subscription-container active-subscription" ng-click="vm.toggleCollapse()">
  <!-- candidate's name -->
    <div class="col-xs-6 panel-body">
      <span class="subscription-name bold-text large-text text-color__blue">{{vm.subscription.user.name}} {{vm.subscription.user.lastName}}</span>
      <br>
      <span class="bold-text">
        {{vm.subscription.event.name}} <br> |  <span class="subscription-secondary-info gray-text">{{vm.subscription.event.description}}</span>
      </span>
    </div>
    <!-- candidate's contact info -->
    <div class="col-xs-6 panel-body">
      <span class="role-text bold-text">Correo electronico: </span>
      <br>
      <span class="subscription-skills gray-text">{{vm.subscription.user.email}}</span>
    </div>

    <!-- candidate's step -->
    <div ng-if="!vm.subscription.approved"  class="col-xs-4">
      <a href="" class="subscription-main-button btn btn-lg btn-default btn-step action-orange">Hay documentacion que aprobar.</a>
    </div>

    <div ng-if="vm.subscription.approved" class="col-xs-4">
      <a href="" class="subscription-main-button btn btn-lg btn-default btn-step action-gray">La documentacion ya esta en orden.</a>
    </div>
</div>
<div ng-hide="vm.isCollapsed" class="col-xs-12 subscription-container" uib-collapse="vm.isCollapsed">
  <div ng-repeat="doc in vm.subscription.documents" >
    <hr>
    <div class="well well-lg col-xs-12 panel-body">
      <div class="col-xs-6">
        <h3 class="subscription-name bold-text large-text text-color__blue">
          Requerimientos:
        </h3>
        <div class="subscription-secondary-info" center="align">
          <p>{{doc.requirement}}</p>
        </div>
      </div>
      <div class="col-xs-6 panel-body">
        <a ng-if="!doc.path.url"
           href=""
           ng-click="vm.inspectDocument(doc)"
           class="subscription-main-button btn btn-lg btn-default btn-step action-gray"
           >
           Aun no han subido este documento.
         </a>
        <a ng-if="doc.path.url && !doc.approved"
           ng-click="vm.inspectDocument(doc)"
           href="" class="subscription-main-button btn btn-lg btn-default btn-step action-orange"
           >
           Inspeccionar documento.
         </a>
        <a ng-if="doc.approved"
           ng-click="vm.inspectDocument(doc)"
           href=""
           class="subscription-main-button btn btn-lg btn-default btn-step action-blue"
          >
           Documento aprobado!.
         </a>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
