<div class="col-xs-12 item-container active-item">
  <div class="col-xs-9 panel-body">
    <span class="bold-text large-text text-color-blue">{{vm.event.name}}</span>
    <br>
    <span class="bold-text">
      {{vm.event.description}}
    </span>
  </div>

  <div class="col-xs-4 panel-body">
    <span class="bold-text">Fecha: </span>
    <br>
    <span class="gray-text">{{vm.event.eventDate}}</span>
  </div>

  <div class="col-xs-4 panel-body">
    <span class="bold-text">Fecha Limite: </span>
    <br>
    <span class="gray-text">{{vm.event.registrationDeadline}}</span>
  </div>

  <div ng-if="vm.userIsAdmin" class="col-xs-4 panel-body">
    <div class="btn btn-lg btn-default btn-step orange-button" ng-click="attendeeList()">
      Lista de Inscripción
    </div>
  </div>

  <div class="col-xs-4 panel-body" >
    <div ng-if="!vm.userIsAdmin">
      <div class="btn btn-lg btn-default btn-step orange-button" >
        <div ng-click="newSubscription()">
          <div ng-if="!vm.userSubscription"> Registrate. </div>
          <div ng-if="vm.userSubscription && !vm.userSubscription.approved" >Revisa Documentos. </div>
        </div>
        <div ng-if="vm.userSubscription && vm.userSubscription.approved"> Inscripción aprobada! </div>
      </div>
    </div>

    <div ng-if="vm.userIsAdmin">
      <div class="col-xs-4">
        <div class="btn btn-lg btn-default btn-step orange-button" ng-click="updateEvent()">
          Editar Evento
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
