.active-event{
  padding: 0% 0%;
  cursor: pointer;
  transition-duration: .5s;
}

event-item:nth-child(odd){
  background-color: ghostwhite;
}

div.event-container{
  background-color: inherit;
}

.event-container {
  display:flex;
  align-items: center;
}

.orange-button{
  background-color: #e67000;
  color: white;

}

.orange-button:hover{
  background-color: #e97000;
  color: white;
  box-shadow: 0 1px 5px #888888;
}

.orange-button:active:focus{
  background-color: #e97000;
  color: white;
  box-shadow: 0 1px 5px #888888;
}

.btn-step{
  padding: 3.5%;
  margin: 1%;
  font-size: small;
  font-weight: 500;
  min-width: 150px;
  min-height: 36px;
}

.active-event{
  padding: 0% 0%;
  cursor: pointer;
  transition-duration: .5s;
}

.event-container {
  display:flex;
  align-items: center;
}

.event-container__odd > div {
  background-color: ghostwhite;
}

.event-container__even > div {
  background-color: white;
}

.text-color__blue {
  color: #5797ff;
}

.text-color__link {
  color: #2042f7;
  font-family: sans-serif;
}

.gray-text{
  color: gray;
}

.bold-text{
  font-weight: bold;
}

.large-text{
  font-size: large;
}

.no-events{
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.no-access{
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.skill-label{
  background-color: #C9EDD2;
  border-radius: 2px;
  color: black;
  margin-right: 1%;
}

.bold-gray-label {
  margin-right: 1%;
  font-weight: 600;
  color: #6f6f6f;
}

.space-between-rows{
  padding-top: 1%;
  padding-bottom: 1%;
}

#scroll-container{
  overflow: hidden;
  min-height: 220px;
  max-height: 220px;
}

#child-scroll{
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll{
  width: 3000px;
  height: 220px;
}

#loading-bar {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: wait;
  position: fixed;
  background-color: white;
}

#loading-bar .bar {
  background: #ffa31a;
}

#loading-bar-spinner-logo {
  position: absolute;
  z-index: 500000;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 115px;
}

#loading-bar-spinner-logo img {
  height: 37px;
  width: 115px;
}
