<div class="form-container" align="left">
  <p> Notificame 1 semana antes de que ocurran eventos que sigo.
    <toggle-switch ng-model="notifications.weekly" ng-click="vm.toggle('weekly')"><toggle-switch>
  </p>

  <p> Notificame 1 semana antes de que ocurran eventos que sigo.
    <toggle-switch ng-model="notifications.daily" ng-click="vm.toggle('daily')"><toggle-switch>
  </p>

  <!-- <p> Notificame sobre rechazos de documentación asociados con eventos que sigo.
    <toggle-switch ng-model="notifications.on_rejection" ng-click="vm.toggle('on_rejection')"><toggle-switch>
  </p>

  <p> Notificame cuando acepten a un alumno en eventos que sigo.
    <toggle-switch ng-model="notifications.daily" ng-click="vm.toggle('daily')"><toggle-switch>
  </p>

  <p> Notificame cuando inicie la inscripción un alumno.
    <toggle-switch ng-model="notifications.daily" ng-click="vm.toggle('daily')"><toggle-switch>
  </p> -->


  <button class="btn btn-default" ng-click="updateUser()"> Guardar Cambios</button>
</div>
