<div class="col-xs-12 subscriber-container active-subscriber">
  <!-- candidate's name -->
    <div class="col-xs-6 panel-body">
      <span class="subscriber-name bold-text large-text text-color__blue">{{vm.subscriber.user.name}}</span>
      <br>
      <span class="gray-text">
        {{vm.subscriber.event.name}} |  <span class="subscriber-secondary-info bold-text">{{vm.subscriber.event.name}}</span>
      </span>
    </div>
    <!-- candidate's contact info -->
    <div class="col-xs-6 panel-body">
      <span class="role-text bold-text">Correo electronico: </span>
      <br>
      <span class="subscriber-skills gray-text">{{vm.subscriber.user.email}}</span>
    </div>

    <!-- candidate's step -->
    <div ng-if="!vm.subscriber.approved" class="col-xs-4">
      <a  ng-click="vm.isCollapsed = !vm.isCollapsed" href="" class="subscriber-main-button btn btn-lg btn-default btn-step action-orange">Hay documentacion que aprobar.</a>
    </div>

    <div ng-if="vm.subscriber.approved" class="col-xs-4">
      <a ng-click="vm.isCollapsed = !vm.isCollapsed" href="" class="subscriber-main-button btn btn-lg btn-default btn-step action-orange">La documentacion ya esta en orden.</a>
    </div>

</div>
<div ng-hide="vm.isCollapsed" class="col-xs-12 subscriber-container" uib-collapse="vm.isCollapsed">
  <div ng-repeat="document in vm.subscriber.documents">
    <hr>
      <div class="well well-lg col-xs-6 panel-body">{{document.requirement}}</div>
      <div class="col-xs-4" center="align">
        <a ng-if="document.path" ng-click="uploadDocument()" href="" class="subscriber-main-button btn btn-lg btn-default btn-step action-gray">Aun no han subido este documento.</a>
        <a ng-if="document.path && !document.approved" ng-click="inspectDocument()" href="" class="subscriber-main-button btn btn-lg btn-default btn-step action-orange">Inspeccionar documento.</a>
        <a ng-if="document.approved" ng-click="inspectDocument()" href="" class="subscriber-main-button btn btn-lg btn-default btn-step action-blue">Documento aprobado!.</a>
      </div>
  </div>
</div>
