div
  acme-navbar
  div.container
    div(align="center" ) 
      h2 Configuracion
    div.sidebar
      div(style="margin: 5px 0 0 15px;")
        div(ng-repeat="link in menu" align="left")
          button.btn.btn-default(ng-click="link.func(link.name)" style="margin: 5px 0 5px 0;")
            {{link.name}}
    div.content
      profile-item(ng-show="content == 'Perfil'")
      notifactions-item(ng-show="content == 'Notificaciones'")
      
      
