div
  acme-navbar
  div.container
    button.btn.btn-default.orange-button.pull-right(ng-if="userIsAdmin")
      p Nuevo Evento
    h1(align="center" ng-hide="userIsAdmin") Tus Eventos
    h1(align="center" ng-hide="!userIsAdmin") Revisiones pendientes
    div.row
      div.col-xs-6.col-md-6(align="left")
        button#previous-page-button.btn.btn-default(ng-click="previousPage()")
          span.glyphicon.glyphicon-menu-left
      div.col-xs-6.col-md-6(align="right")
        button#next-page-button.btn.btn-default.pull-right(ng-click="nextPage()")
          span.glyphicon.glyphicon-menu-right

    subscription-item(ng-repeat="item in subscriptions" subscription="item")
    
