div
  acme-navbar
  div.container
    div.alert.no-subscriptions(align="center" ng-hide="users.length > 0") 
      h2 No existen otros usuarios.
    div.alert.no-subscriptions(align="center" ng-show="users.length > 0") 
      h2 Usuarios
    div.row.page-header(style="margin: 0px;")
      div.col-xs-6.col-md-6(align="left")
        button#previous-page-button.btn.btn-default(ng-click="previousPage()")
          span.glyphicon.glyphicon-menu-left
      div.col-xs-6.col-md-6(align="right")
        button#next-page-button.btn.btn-default.pull-right(ng-click="nextPage()")
          span.glyphicon.glyphicon-menu-right
      
    div.item-list
      user-item( ng-repeat="user in users" user="user")
