<div class="col-xs-12 item-container active-item">
  <div class="col-xs-5 panel-body">
    <span class="bold-text large-text text-color-blue">{{vm.user.name}}</span>
    <br>
    <span class="bold-text">
      {{vm.user.email}}
    </span>
  </div>

  <div class="col-xs-4 panel-body">
    <span class="bold-text">Super Administrador: </span>
    <br>
    <input type="checkbox" data-toggle="toggle">
  </div>

  <div class="col-xs-4 panel-body">
    <span class="bold-text">Administrador: </span>
    <br>
    <input type="checkbox" data-toggle="toggle">
  </div>

  <div class="col-xs-4 panel-body">
    <span class="bold-text">Tutor: </span>
    <br>
    <input type="checkbox" data-toggle="toggle">
  </div>

  <div class="col-xs-4 panel-body">
    <span class="bold-text">Estudiante: </span>
    <br>
    <input type="checkbox" data-toggle="toggle">
  </div>
</div>
<!-- Button trigger modal -->
