<div class="col-xs-12 item-container active-item">
  <div class="col-xs-5 panel-body">
    <span class="bold-text large-text text-color-blue">{{vm.user.name}}</span>
    <br>
    <span class="bold-text">
      {{vm.user.email}}
    </span>
  </div>

  <div class="col-xs-4 panel-body">
    Super Admin:
    <br>
    <toggle-switch
      ng-model="vm.super_admin"
      ng-disabled="vm.super_admin"
      ng-click="vm.toggleRole('super_admin')"
      >
    <toggle-switch>
  </div>

  <div class="col-xs-4 panel-body">
    Admin:
    <br>
    <toggle-switch
      ng-model="vm.admin"
      ng-disabled="vm.admin"
      ng-click="vm.toggleRole('admin')"
      >
    <toggle-switch>
  </div>

  <div class="col-xs-4 panel-body">
    Tutor:
    <br>
    <toggle-switch
      ng-model="vm.tutor"
      ng-disabled="vm.tutor"
      ng-click="vm.toggleRole('tutor')"
      >
    <toggle-switch>
  </div>

  <div class="col-xs-4 panel-body">
    Student:
    <br>
    <toggle-switch
      ng-model="vm.student"
      ng-disabled="vm.student"
      ng-click="vm.toggleRole('student')"
      >
      <toggle-switch>
  </div>
</div>
<!-- Button trigger modal -->
